fastapi
uvicorn[standard]
chromadb
sqlmodel
langchain
langchain-community
sentence-transformers
pydantic
PyMuPDF
pdfplumber
pypdf
python-multipart
websockets
python-dotenv
httpx
pytest
pyinstaller
llama-cpp-python
ruff>=0.6.0
tiktoken
pip-tools